{% extends 'films/base.html' %}
{% block content %}
    <title>Nouveau prompt</title>
     <div class="container">
        <h1 class="text-center mb-4">Nouveau prompt</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-4">
                <label class="form-label">Titre</label>
                {{ form.title }}
            </div>
            <div class="mb-4">
                <label class="form-label">Description</label>
                {{ form.description }}
            </div>
            <button type="submit" class="btn btn-primary">Sauvegarder prompt</button>
            <a href="{% url "aiTest" %}" class="btn btn-secondary">Annuler prompt</a>
        </form>
    </div>
{% endblock %}