{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des films vues</title>
    <link rel="stylesheet" href="{% static 'css/films.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
    <h1>Liste des films vues</h1>
    <button class="btn-modifier">Ajouter</button>
        <table>
        <tr>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Date du visionnage</th>
            <th>Avis perso</th>
            <th>Modifier/Supprimer</th>
        </tr>
            {% for film in list_films %}
                <tr>
                    <td>{{ film.titre }}</td>
                    <td>{{ film.auteur }}</td>
                    <td>{{ film.get_date_vue }}</td>
                    <td>{{ film.avis }}</td>
                    <td><button class="btn-modifier">Modifier</button></td>
                </tr>
            {% endfor %}
    </table>
</body>
</html>